:host{
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.head{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: first baseline;
    box-shadow: none;
}

.btn-back{
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.head-label{
    margin-right: 20%;
    font-size: 30px;
}

.body-wrapper{
    height: 80%;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
}

.body{
    margin-top: 2.5%;
    height: 90%;
}

.btn-wrapper{
    width: 100%;
    height: 20%;
    background: #bdbdfc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-add-object{
    width: 40%;
    font-size: 25px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 33%;
}

input{
    width: 94%;
    height: 50px;
    font-size: 25px;
    border: 5px solid #bdbdfc;    
}

label{
    font-size: 20px;
}
