.search-input{   
    width: 70%;
    height: 40%;
    min-height: 30px;
}

.search-input:hover{   
    scale: 1.01;
    transition-duration: 0.1s;
}

.btn-add{
    height: 40%;
    width: 10%;
    font-size: 20px;
    min-height: 30px;
}

.message-section{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(117, 117, 117)
}

.object-section{
    width: 90%;
    min-height: 70px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-info-wrapper{
    min-width: 200px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #bdbdfc;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-info-wrapper:hover{
    cursor: pointer;
    transition-duration: 0.4s;
    width: 90%;
    // background: #ff8e8e;
}

.object-info-wrapper:hover:active{
    // transition-duration: 0s;
    width: 88%;
    background: #bdbdfc92;
}

.object-info{
    font-size: 20px;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.delete-btn {
    width: 20%;
    min-width: 60px;
    height: 100%;
    background: #ff8e8e;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
    border-right: none;
}

.delete-btn:hover{
    width: 24%;
    cursor: pointer;
    background: #ff8e8e;
}

// .disabled{
//     opacity: 0.95;
//     pointer-events: none;
// }

// .deletion{
//     animation: 0.401s deletionAnimation;
// }

// @keyframes deletionAnimation {
//     from {
//         transform: translate(0);
//     }
//     to {
//         transform: translate(-500px);
//     }
// }

.delete-btn span {
     position: relative;
     bottom: -4px;
     width: 30px;
     height: 40px;
     display: inline-block;
     background: rgba(189,189,252);
    // background: linear-gradient(90deg, 
    // rgba(189,189,252,1) 16%, white 16%, 
    // white 20%, rgba(189,189,252,1) 20%, 
    // rgba(189,189,252,1) 36%, white 36%, 
    // white 40%, rgba(189,189,252,1) 40%, 
    // rgba(189,189,252,1) 56%, white 56%, 
    // white 60%, rgba(189,189,252,1) 60%, 
    // rgba(189,189,252,1) 76%, white 76%, 
    // white 80%, rgba(189,189,252,1) 80%);

     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     transition: 0.2s;
}

.delete-btn span::before{
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    content: '';
    position: absolute;
    top: -7px;
    width: 30px;
    height: 4px;
    background: #bdbdfc;
    transition: 0.2s;
}

.delete-btn:hover span::before{
    transition-duration: 0.3s;
    transform: translateY(-4px) rotate(20deg) translateX(1px);    
}

label{
    width: 100%;
    text-align: left;
}
