:host{
    display: flex;
    align-items: center;
    justify-content: center;
}

app-object-list{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    min-width: 290px;
    padding-top: 20px;
    background: #bdbdfc;
}

app-map{
    height: 100%;
    width: 70%;
    background: #ff8e8e;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

app-pop-up-add-object{
    border-radius: 5px;
    width: 20%; 
    height: 60%;
    min-width: 300px;
    min-height: 500px;  
    background: #fefefe;
    display: flex;
    box-shadow: 0px 0px 19px 11px rgba(34, 60, 80, 0.2);
}

.background{
    pointer-events: none;
    animation: 0.3s blurScale;
    filter: blur(8px);  
}

@keyframes blurScale {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(8px);
    }
  }
  